<form hx-post="/login" hx-target="this" hx-swap="outerHTML">
    <div class="input-box">
        <input type="text" placeholder="Enter your username" value="{{uname}}" required name="uname">
    </div>
    <div class="input-box">
        <input type="password" placeholder="Enter your password" required name="pass">
    </div>
    <div class="policy">
    </div>
    <h4 id="error_msg">LOGIN FAILED. PLEASE RETRY.</h4>
    <div class="input-box button">
        <input type="Submit" value="Login">
    </div>
    <div class="text">
        <h3>Don't have an account? <a hx-get="/goto_register" hx-target="body" hx-swap="outerHTML">Register now</a></h3>
    </div>
    <div class="text">
        <h3><a hx-get="/goto_login">Reset</a></h3>
    </div>
</form>