<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/static/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static %} -->
    <link rel="stylesheet" href='css/login.css'>
    <link rel="icon" href="src/favicon.png" type="image/png">
    <title>Login</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script> <!-- htmx -->

</head>
<body>
    <div class="login-wrapper">
        <div class="company-logo">
            <img src = 'src/logo_real.png' height="120px">
        </div>
        <div class="wrapper">
            <h2><img src= 'src/account.png'width="30" height="30" style="vertical-align: -7px"> Login</h2>
        
                <h4 id="error_msg">{{message}}</h4>
            
            <form hx-post="/login" hx-target="this" hx-swap="outerHTML">
            <div class="input-box">
                <input type="text" placeholder="Enter your username" required name="uname">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Enter your password" required name="pass">
            </div>
            <div class="policy">
            </div>
            <div class="input-box button">
                <input type="Submit" value="Login">
            </div>
            <div class="text">
                <h3>Don't have an account? <a hx-get="/goto_register" hx-target="body" hx-swap="outerHTML">Register now</a></h3>
            </div>
            <div class="text">
                <h3><a hx-get="/goto_login">Reset</a></h3>
            </div>
            </form>
        </div>
    </div>
</body>
</html>