<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static %} -->
    <link rel="stylesheet" href='css/login.css'>
    <title>Login</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="company-logo">
            <img src = 'src/logo_real.png' height="120px">
        </div>
        <div class="wrapper">
            <h2><img src= 'src/account.png'width="30" height="30" style="vertical-align: -7px"> Login</h2>
        
            {% if messages %}
            {% for message in messages %}
                <h4 id="error_msg">{{message}}</h4>
            {% endfor %}
            {% endif %}
            
            <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" placeholder="Enter your username" required name="uname">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Enter your password" required name="pass">
            </div>
            <div class="policy">
            </div>
            <div class="input-box button">
                <input type="Submit" value="Login">
            </div>
            <!-- <div class="text">
                <h3>Don't have an account? <a href="{% url 'user-register' %}">Register now</a></h3>
            </div> -->
            <div class="text">
                <h3><a href="{% url 'user-login' %}">Reset</a></h3>
            </div>
            </form>
        </div>
    </div>
</body>
</html>