<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='css/register.css'>
    <title>Register</title>
</head>
<body>
<div class="wrapper">
    <h2>Register</h2>
    {% if messages %}
        {% for message in messages %}
            <h2 style="color: #b22222;">{{message}}</h2>
        {% endfor %}
    {% endif %}
    <form action="#" method="POST">
    {% csrf_token %}
    <div class="input-box">
        <input type="text" placeholder="Create a username" required name="username">
    </div>
    <div class="input-box">
        <input type="email" placeholder="Enter your email" required name="email">
    </div>
    <div class="input-box">
        <input type="password" placeholder="Enter your password" required name="password">
    </div>
    <div class="policy">
    </div>
    <div class="input-box button">
        <input type="Submit" value="Register">
    </div>
    <div class="text">
        <h3>Do you have an account? <a hx-get="/goto_login">Login now</a></h3>
    </div>
    <div class="text">
        <h3>Forgot Password? <a href="{% url 'user-register'%}">Reset</a></h3>
    </div>
    </form>
</div>
</body>
</html>

