{{>header.html}}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet"><!--폰트-->
<script src="js/hover.js"></script>

<!-- anychart.js -->
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-data-adapter.min.js"></script>

<link rel="stylesheet" href="css/index.css">
<script src="js/statChart1.js"></script>
<style>
    button {
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1em;
        font-weight: 600;
        transition: box-shadow 0.3s, transform 0.3s;
        background-image: linear-gradient(to right, #667eea, #764ba2);
        color: white;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    button:hover {
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        transform: translateY(-1px);
        background-image: linear-gradient(to right, #7467ee, #b28ad6);
    }

    #trade-box {
        font-family: 'Noto Sans KR', sans-serif;
        padding: 10px 15px;
        border: none;
    }


</style>

<body>
    <div id="left">
        <div class="header-sidebar">
            <div id="company-logo">
                <img src='src/logo_real.png' height="65px">
            </div>

        </div>
        <ul id="menu-sidebar">
            <li onmouseover="overDash()" onmouseout="outDash()"><a href="/dashboard">
                    <div><img id="image_dash" src="src/dashboard_gray.png" alt="dashboard"></div>
                    <div style="margin-left:5px; ">Dashboard</div>
                </a></li>
            <li onmouseover="overProfile()" onmouseout="outProfile()"><a href="/profile">
                    <div><img id="image_profile" src="src/profile_gray.png" alt="profile"></div>
                    <div style="margin-left:5px;">Profile</div>
                </a></li>
            <li><a href="/trading">
                    <div><img id="image_trdaing" src="src/trading.png" alt="trading"></div>
                    <div style="margin-left:5px; color:#312D81">Trading</div>
                </a></li>
            <li onmouseover="overPortfolio()" onmouseout="outPortfolio()"><a href="/portfolio">
                    <div><img id="image_portfolio" src="src/portfolio_gray.png" alt="portfolio"></div>
                    <div style="margin-left:5px;">Portfolio</div>
                </a></li>
            <li> <a hx-post="/logout"> Logout </a></li>
        </ul>
    </div>
    <div id="right">
        <div class="page-name">
            <div id="page-name-eg">Trading</div>
        </div>

        <div>
            <button hx-get="/trade_company/A" hx-target="#trade-box" hx-swap="outerHTML"> A company </button>
            <button hx-get="/trade_company/B" hx-target="#trade-box" hx-swap="outerHTML"> B company </button>
            <button hx-get="/trade_company/C" hx-target="#trade-box" hx-swap="outerHTML"> C company </button>
        </div>
    </div>

    <div id="trade-box">
        Select a company to start trading
    </div>

</body>

{{>footer.html}}
